Use and support `Vary` header

From RFC 7231:

```
     Vary = "*" / 1#field-name

   A Vary field value of "*" signals that anything about the request
   might play a role in selecting the response representation, possibly
   including elements outside the message syntax (e.g., the client's
   network address).  A recipient will not be able to determine whether
   this response is appropriate for a later request without forwarding
   the request to the origin server.  A proxy MUST NOT generate a Vary
   field with a "*" value.

   A Vary field value consisting of a comma-separated list of names
   indicates that the named request header fields, known as the
   selecting header fields, might have a role in selecting the
   representation.  The potential selecting header fields are not
   limited to those defined by this specification.

   For example, a response that contains

     Vary: accept-encoding, accept-language

   indicates that the origin server might have used the request's
   Accept-Encoding and Accept-Language fields (or lack thereof) as
   determining factors while choosing the content for this response.
```

```   
   When a cache receives a request that can be satisfied by a stored
   response that has a Vary header field (Section 7.1.4 of [RFC7231]),
   it MUST NOT use that response unless all of the selecting header
   fields nominated by the Vary header field match in both the original
   request (i.e., that associated with the stored response), and the
   presented request.
[...]
   If (after any normalization that might take place) a header field is
   absent from a request, it can only match another request if it is
   also absent there.
[...]
   A Vary header field-value of "*" always fails to match.
```